In [2]:
import pandas as pd

In [7]:
#creating series
data = [1,2,3,4,5]
series = pd.Series(data, index = ['A','B','C','D','E'])
print(series)

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [14]:
#creating dataframe
data = {
    'Name' : ['Sushil', 'Suprajaa', 'Kishore', 'Saran'],
    'Age' : [20, 18, 21, 21],
    'College' : ['REC', 'REC', 'REC', 'REC']
}

#converting it to dataframe
df = pd.DataFrame(data)
print(df)

       Name  Age College
0    Sushil   20     REC
1  Suprajaa   18     REC
2   Kishore   21     REC
3     Saran   21     REC

In [17]:
#group-by
grouping = df.groupby(['College'])
print(grouping['Age'].mean())

College
REC    20.0
Name: Age, dtype: float64

In [19]:
#merging and joining
data1 = {
    'Name' : ['Sushil', 'Suprajaa', 'Kishore', 'Saran'],
    'Age' : [20, 18, 21, 21]
}
data2 = {
    'Name' : ['Sushil', 'Suprajaa', 'Kishore', 'Saran'],
    'College' : ['REC', 'REC', 'REC', 'REC']
}

#converting to df
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

#merging
mergingdata = pd.merge(df1,df2, on = 'Name')
print(mergingdata)

       Name  Age College
0    Sushil   20     REC
1  Suprajaa   18     REC
2   Kishore   21     REC
3     Saran   21     REC

In [21]:
#concatenation
data1 = {
    'Name' : ['Sushil', 'Suprajaa'],
    'Age' : [20, 18,]
}
data2 = {
    'Name' : ['Kishore', 'Saran'],
    'College' : ['REC', 'REC']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

#concatenating
concatedata = pd.concat([df1,df2], axis = 0)
print(concatedata)

       Name   Age College
0    Sushil  20.0     NaN
1  Suprajaa  18.0     NaN
0   Kishore   NaN     REC
1     Saran   NaN     REC

In [23]:
#indexing
data = {
    'Name' : ['Sushil', 'Suprajaa', 'Kishore', 'Saran'],
    'Age' : [20, 18, 21, 21],
    'College' : ['REC', 'REC', 'REC', 'REC']
}

df = pd.DataFrame(data)
print(df)

       Name  Age College
0    Sushil   20     REC
1  Suprajaa   18     REC
2   Kishore   21     REC
3     Saran   21     REC

In [32]:
print(df["Age"])

0    20
1    18
2    21
3    21
Name: Age, dtype: int64

In [37]:
#df.loc - row_number and column name

print(df.loc[0,'Name'])

Sushil

In [42]:
#df.iloc - row_number and column_number

print(df.iloc[0,2])
print(df.iloc[3,2])
print(df.iloc[2,1])
print(df.iloc[0,1])
print(df.iloc[0,0])

REC
REC
21
20
Sushil

In [43]:
#slicing
print(df[0:3])

       Name  Age College
0    Sushil   20     REC
1  Suprajaa   18     REC
2   Kishore   21     REC

In [45]:
print(df.loc[0:3,['Name','Age']])

       Name  Age
0    Sushil   20
1  Suprajaa   18
2   Kishore   21
3     Saran   21

In [3]:

data = {
    'Name' : ['Sushil', 'Suprajaa', 'Kishore', 'Saran'],
    'DS' : [45, 48, 44, 49],
    'ML' : [34, 41, 34, 21],
    'AI' : [21, 25, 23, 21],
    
}

df = pd.DataFrame(data, index = [1,2,3,4])
print(df)

       Name  DS  ML  AI
1    Sushil  45  34  21
2  Suprajaa  48  41  25
3   Kishore  44  34  23
4     Saran  49  21  21

In [4]:
#sorting in descending order
dssort = df.sort_values(by = ['DS'], ascending = False)
print(dssort)

       Name  DS  ML  AI
4     Saran  49  21  21
2  Suprajaa  48  41  25
1    Sushil  45  34  21
3   Kishore  44  34  23

In [5]:
#multiple column sort
multiple_sort = df.sort_values(by = ['DS','AI'], ascending = [False, True])
print(multiple_sort)

       Name  DS  ML  AI
4     Saran  49  21  21
2  Suprajaa  48  41  25
1    Sushil  45  34  21
3   Kishore  44  34  23

In [6]:
#filtering of data
filtering = df[df['ML'] > 33]
print(filtering)

       Name  DS  ML  AI
1    Sushil  45  34  21
2  Suprajaa  48  41  25
3   Kishore  44  34  23

In [10]:
#multiple condition

filterdata = df[(df['ML'] > 33)&(df['DS']>45)]
print(filterdata)

       Name  DS  ML  AI
2  Suprajaa  48  41  25

In [16]:
#mapping data

mapping = {'Sushil':3, 'Suprajaa':2, 'Saran':2, 'Kishore':3}
df['Proficiency'] = df['Name'].map(mapping)
print(df)

       Name  DS  ML  AI  Proficiency
1    Sushil  45  34  21            3
2  Suprajaa  48  41  25            2
3   Kishore  44  34  23            3
4     Saran  49  21  21            2

DATA CLEANING

In [30]:
data = {
    'A' : [1,2,3,4,90,5,6,7,67],
    'B' : [4,5,6,7,7,8,9,2,2]    
}

df = pd.DataFrame(data)
print(df)

    A  B
0   1  4
1   2  5
2   3  6
3   4  7
4  90  7
5   5  8
6   6  9
7   7  2
8  67  2

In [24]:
# checking duplicate

print(df.duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8     True
dtype: bool

In [25]:
#removing duplicate
print(df.drop_duplicates())

   A  B
0  1  4
1  2  5
2  3  6
3  4  7
4  5  7
5  5  8
6  7  9
7  7  2

In [33]:
#outliers
x = df['A'].quantile(0.99)
print(x)

7.0

In [34]:
df['A'] = df['A'].clip(lower = None, upper = x)

In [35]:
print(df)

   A  B
0  1  4
1  2  5
2  3  6
3  4  7
4  7  7
5  5  8
6  6  9
7  7  2
8  7  2

In [38]:
#Handling missing values

import numpy as np


data = { 
    'A': [1, 2, np.nan, np.nan, 5],
    'B': [np.nan, np.nan, 8, 9, 10]
}

df = pd.DataFrame(data)
print(df)

     A     B
0  1.0   NaN
1  2.0   NaN
2  NaN   8.0
3  NaN   9.0
4  5.0  10.0

In [39]:
#to check whether the data contains missing value --> isna()

print(df.isna())

       A      B
0  False   True
1  False   True
2   True  False
3   True  False
4  False  False

In [40]:
#to fill the missing --> fillna()

print(df.fillna(value = 0))

     A     B
0  1.0   0.0
1  2.0   0.0
2  0.0   8.0
3  0.0   9.0
4  5.0  10.0

In [41]:
#to fill the missing values with the mean of their column

df['A'] = df['A'].fillna(df['A'].mean())
df['B'] = df['B'].fillna(df['B'].mean())
print(df)

          A     B
0  1.000000   9.0
1  2.000000   9.0
2  2.666667   8.0
3  2.666667   9.0
4  5.000000  10.0